@{
    ViewBag.Title = "Register";
}
@using System.Web.Optimization
@model WatchZone.Web.Models.Auth.UserDataRegister
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Register</h2>
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm("RegisterAction", "Auth", FormMethod.Post, new { @id = "RegisterForm" }))
                    {
                        @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.Label("Username")
                    @Html.TextBoxFor(m => m.UserName, new
                    {
                        placeholder = "example@gmail.com",
                        title = "Please enter you username",
                        value = "",
                        name = "Username",
                        id = "Username",
                        @class = "form-control"
                    })
                    <span class="help-block small">Your unique username to app</span>
                </div>
                <div class="form-group">
                    @Html.Label("Password")
                    @Html.TextBoxFor(m => m.Password, new
                    {
                        @class = "form-control",
                        type = "password",
                        title = "Please enter your password",
                        placeholder = "******",
                        value = "",
                        name = "Password",
                        id = "Password"
                    })
                    @Html.ValidationMessageFor(m => m.Password)
                    <span class="help-block small">Your strong password</span>
                </div>
                        <div class="form-group">
                            @Html.Label("Confirm Password")
                            @Html.TextBoxFor(m => m.ConfirmPassword, new
                            {
                                @class = "form-control",
                                type = "password",
                                title = "Please confirm your password",
                                placeholder = "******",
                                value = "",
                                name = "ConfirmPassword",
                                id = "ConfirmPassword"
                            })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            <span class="help-block small">Confirm password</span>
                        </div>
                        <div>
                            <button class="btn">Register</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/validation/js")

    <script type="text/javascript">
        $(function () {

            $("#RegisterForm").validate({
                rules: {
                    Username: {
                        required: true
                    },
                    Password: {
                        required: true
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                },
                errorPlacement: function (error, element) {
                    $(element)
                        .closest("form")
                        .find("label[for='" + element.attr("id") + "']")
                        .append(error);
                },
                errorElement: "span"
            });
        });


    </script>
}